body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
  }
  
  .container {
    margin: 50px auto;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .invitation-image {
    max-width: 100%;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin: 20px 0;
    color: #663399;
  }
  
  p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #attendButton {
    background-color: #28a745;
    color: white;
  }
  
  #notAttendButton {
    background-color: #dc3545;
    color: white;
  }
  
  button:hover {
    opacity: 0.9;
  }
  